* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #081b31;
    color: white;
    padding: 20px;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    transform: scale(1.1); 
    transition: all 0.3s ease-in-out;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.choices {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.score-board {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#user-score, #comp-score {
    font-size: 64px;
}

.msg-container{
    margin-top: 70px;
}

#msg {
    background-color: #081b31;
    color: white;
    padding: 16px;
    font-size: 32px;
    display: inline;
    border-radius: 20px;
}
